* {
  font-family: 'Quicksand', sans-serif;
}

html, body {
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.links {
  width: fit-content;
}

.links ul {
  list-style: none;
  display: flex;
  padding: 0;
}

/******************* Navbar *******************/

.logo-img-title {
  width: 60px;
  border-radius: 8px;
  margin-right: 15px;
}

.title-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

h1 {
  font-weight: 600;
}

h5 {
  display: contents;
}

.logo-section {
  display: flex;
  align-items: center;
}

.btn-contact {
  display: flex;
  align-items: center;
}

.btn-contact a {
  color: #ffffff;
  text-decoration: none;
}

.btn-contact a:hover {
  color: #ffffff;
}

.fa-envelope {
  margin: 5px;
  font-size: 20px;
}

/******************* Seccion Contact Form *******************/
.container {
  width: 100%;
}

.row > * {
  text-align: left;
}

.contact-form {
  display: flex;
}

.btn.btn-primary {
  background-color: #ffffff;
  border-color: #34db50;
  color: #000000;
}

.btn.btn-primary:hover {
  background-color: #23921f;
  border-color: #ffffff;
}

a.btn {
  width: 8rem;
}
.card {
  margin: 2em;
}
.card.avisos {
  width: 400px;
}

.card-body {
  background-color: #ececec50;
  position: relative;
  height: auto;
}


.formulario {
  margin-top: 1.5rem;
}

/******************* Seccion Avisos *******************/

.social-media {
  margin: -1px;
}

.links {
  margin: 0 auto;
}
.fa-brands,
.fa-solid,
.fa-regular {
  margin: 5px;
  font-size: 25px;
}

.fa-envelope {
  color: #000000;
}

.fa-facebook {
  color: #1877f2;
}

.fa-instagram {
  color: #D43089;
}

.fa-whatsapp {
  color: #25D366;
}

.fa-location-dot {
  color: #e0450c;
}

.avisos ul {
  padding-left: 0;
}

.container-data li {
  list-style: none;
}

.container-data li a {
  color: #000000;
  text-decoration: none;
}

/******************* Footer *******************/
.footer {
  font-weight: 500;
  margin: 2rem;
  width: 100%;
}

.content-footer {
display: flex;
align-items: center;
text-align: center;
justify-content: space-around;
}

span {
  padding-right: 1rem;
}